# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [17]:
pokemon = pd.DataFrame({'evolution':['lvysaur','charmeleon','Wartotle', 'metapod'], 'hp':[45,39,44,45],'name':['Bulbasaur','charmander','squirtle','caterpie'],'pokedex':['yes','no','yes','no'],'type':['grass','fire','water','bug']})
pokemon

    evolution  hp        name pokedex   type
0     lvysaur  45   Bulbasaur     yes  grass
1  charmeleon  39  charmander      no   fire
2    Wartotle  44    squirtle     yes  water
3     metapod  45    caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [18]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     lvysaur     yes
1  charmander   fire  39  charmeleon      no
2    squirtle  water  44    Wartotle     yes
3    caterpie    bug  45     metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [19]:
pokemon['place']=['pyr','japan','us','ty']
pokemon

<ipython-input-19-ee2134743734>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place']=['pyr','japan','us','ty']

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     lvysaur     yes    pyr
1  charmander   fire  39  charmeleon      no  japan
2    squirtle  water  44    Wartotle     yes     us
3    caterpie    bug  45     metapod      no     ty

### Step 6. Present the type of each column

In [20]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

change all values in a column

In [22]:
pokemon['name']= 'huu'
pokemon

<ipython-input-22-f48802be10cc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['name']= 'huu'

  name   type  hp   evolution pokedex  place
0  huu  grass  45     lvysaur     yes    pyr
1  huu   fire  39  charmeleon      no  japan
2  huu  water  44    Wartotle     yes     us
3  huu    bug  45     metapod      no     ty